<div class="container">
  <div class="columns is-mobile">
    <div class="column is-half has-text-centered is-offset-one-quarter">
      <h2 class="title is-2">步驟</h2>
    </div>
  </div>

  <div class="columns">
    <div class="column is-7">
      <h3 class="title is-3">1.種植苧麻</h3>
      <p>自地自種</p>
    </div>
    <div class="column is-5">
      <p>圖</p>
    </div>
  </div>

  <div class="columns">
    <div class="column is-5">
      <p>圖</p>
    </div>
    <div class="column is-7">
      <h3 class="title is-3">2.收割苧麻</h3>
      <p>苧麻種植三個月即可收成</p>
    </div>
  </div>

  <div class="columns">
    <div class="column is-7">
      <h3 class="title is-3">3.剝麻</h3>
      <p>剝麻要用一根竹子前端削尖開叉，長度以個人使用方便為主</p>
    </div>
    <div class="column is-5">
      <p>圖</p>
    </div>
  </div>
</div>
