<div class="container">

  <div class="columns">
    <div class="column is-5">
      <figure class="image">
        <img src="http://birdyo.ga/res/makeline/刮麻.jpg">
      </figure>
    </div>
    <div class="column is-7">
      <h3 class="title is-3">4.刮麻</h3>
      <p>割下麻莖，以竹片打下麻葉之後，就可剝麻了，以底端試折到不會完全斷裂的地方，就可以剝取麻皮了，一般會在底端一掌左右的距離折開麻莖，取下麻皮及纖維上的雜質。</p>
    </div>
  </div>

  <div class="columns">
    <div class="column is-7">
      <h3 class="title is-3">5.洗麻</h3>
      <ul>
        <li>洗木灰、水、細米糠(軟化作用)揉洗到軟後洗淨，去小溪邊清洗才能把木灰充分的沖洗乾淨，苧麻線才不會黏，織布也比較好織。</li>
        <li>染麻線~大鍋加滿水，線、染料(木灰、薯榔、黑泥巴等..可開發)煮到上色即可，後加鹽定色</li>
      </ul>
    </div>
    <div class="column is-5">
      <figure class="image">
        <img src="http://birdyo.ga/res/makeline/洗麻.jpg">
      </figure>
    </div>
  </div>

  <div class="columns">
    <div class="column is-5">
      <figure class="image">
        <img src="http://birdyo.ga/res/makeline/曬麻 (1).jpg">
      </figure>
    </div>
    <div class="column is-7">
      <h3 class="title is-3">6.曬麻</h3>
      <p>日曬2-3星期看線的潔白度而定</p>
    </div>
  </div>

</div>
