<div class="container">
  <div class="columns">
    <div class="column is-7">
      <h3 class="title is-3">7.捻沙</h3>
      <p>將紛亂的纖維績成的麻線後，雖然已成為連續的狀態，但是纖維之間還是不夠緊實，所以還得經過加捻的過程牽深並加強，加捻的強與弱也會影響到線的性質，加上強捻後纖維的拉力韌性會增強，加捻弱時纖維柔軟有光澤，但不夠韌，因此織者就會依需要，使用力道和工具去完成所需的線質(是所有製線過程中最難學的，光學會就要半年，若這關學不會，遑論後續的所有)</p>
    </div>
    <div class="column is-5">
      <figure class="image">
        <img src="http://birdyo.ga/res/makeline/捻紗.jpg">
      </figure>
    </div>
  </div>

  <div class="columns">
    <div class="column is-5">
      <figure class="image">
        <img src="http://birdyo.ga/res/makeline/捲紗 (2).jpg">
      </figure>
    </div>
    <div class="column is-7">
      <h3 class="title is-3">8.捲紗</h3>
      <p>加捻好的麻線，要經過上線架將麻線在一個個環套下整理起來才能往下進行。再進行第二次的脫膠、去雜質、色素的步驟前，整理麻線是希望在經過練煮、漂白曝晒、搓軟這些過程後，麻線在織布前，不會發生糾結、紊亂的慘事。因此一支支小竹桿上的線，就得依序上線架，接連成更長且更有其秩序的線</p>
    </div>
  </div>

  <div class="container">
    <div class="columns">
      <div class="column is-7">
        <h3 class="title is-3">9.紡沙</h3>
        <p>因為苧麻生長成熟不一，我們會依其成熟度收成，進行割麻刮麻剝麻，然後洗麻曬麻，等到收集差不多量的苧麻時進行煮麻染色，此次是用木灰煮來洗白，也就是染白的意思。 原色是部落居民用來編織背袋的重要原料，我們直接用原色未經染色的線來捻線，當然染白的線我們也會捻線。 最後再來紡線，做為成品 捻線對進用人員來說是最難的，經過很多時間的努力終於在6月底，在大家合力下完成，得以有線可以紡而成線 (是所有製線過程中最難學的，光學會就要半年，若這關學不會，遑論後續的所有)
        </p>
      </div>
      <div class="column is-5">
        <figure class="image">
          <img src="http://birdyo.ga/res/makeline/紡紗.jpg">
        </figure>
      </div>
    </div>

  </div>
