footer {
  position: relative;
}

footer .on-top {
  background-color: #bc4b69 !important;
  color: #fff;
  transition: transform 1s ease;
  position: relative;
  z-index: 2;
}

footer.open-gate {
  height: 450px;
}

.cut {
  width: 32px;
  height: 32px;
  background: url('http://birdyo.ga/res/cut.png');
  background-size: cover;
  position: absolute;
  top: -16px;
  right: 100%;
  cursor: pointer;
  transition: right 1s ease-in-out;
}

.cut.clicked {
  right:  -10%;
}

.new-gate {
  position: relative;
  margin: auto;
  top: 0px;
  height: 0px;
  z-index: 1;
  overflow: hidden;
  transition: height 1s ease;
}

footer.open-gate > .new-gate{
  position: relative;
  height: 300px;
}

footer.qwer .title{
  animation-duration: 3s;
  animation-name: slidein;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  color: rgb(255,255,255);
}

@keyframes slidein {
  from {
    padding-left: 100%;
    width: 300%;
  }

  75% {
    font-size: 300%;
    padding-left: 25%;
    width: 150%;
  }

  to {
    padding-left: 0%;
    width: 100%;
  }
}
