.background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 0;
}

.hero {
    position: relative;
}

.round {
    border-radius: 50%;
    width: 100%;
}

.grandama {
    background: url('http://birdyo.ga/res/grandma.jpeg');
    background-size: cover;
    width: 350px;
    max-width: 100%;
    height: 350px;
    display: block;
    margin: auto;
}

#header-white-background {
    background: rgba(255, 255, 255, 0.5);
}

#header .title {
    font-size: 4rem;
    font-weight: 500;
}

.header-main {
    margin: 3em 0;
}

.example-clover{
    /*background: rgba( 255, 255, 255, 0.5);*/
    background: url('http://birdyo.ga/res/DSC01383.JPG');
    background-size: cover;
    z-index: 0;
    filter: blur(2px);
}

.example-header{
    /*background: rgba( 255, 255, 255, 0.5);*/
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: url('http://birdyo.ga/res/DSC01383.JPG');
    background-attachment: fixed;
    z-index: 0;
    filter: blur(2px);
}

.header-main {
    z-index: 1;
    position: relative;
}
