<div id="surprise-mother-fucker" class="has-text-centered">
  <div class="columns fuck-text">
    <div id="fuck-text-1" class="column is-12">
      <h1 class="title is-1">什麼！？ 汝等竟然發現了新世界的大門</h1>
      <figure class="image"><img src="http://i.imgur.com/qXh7LTH.jpg" alt=""></figure>
    </div>
  </div>
  <div id="fuck-text-2" class="columns">
    <div class="column is-12">
      <h1 class="title is-1">既然如此，汝等只能入教了</h1>
      <figure class="image"><img src="http://i.imgur.com/fN3sbfb.jpg" alt=""></figure>
    </div>
  </div>
</div>

<div class="new-gate container">
  <div class="columns">
    <div class="column is-12">
      <figure class="image"><img src="http://i.imgur.com/zu4zuVk.jpg" alt=""></figure>
    </div>
  </div>
</div>
<div class="on-top">
  <div class="container">
    <div class="cut"></div>
    <div>
      2017
    </div>
  </div>
</div>