
<div class="example-header">
  <div id="header-white-background" class="background"></div>
</div>
<div class="header-main">
  <div class="columns">
    <div class="column"><h1 class="title is-1 has-text-centered">賽德克族</h1></div>
  </div>
  <div class="columns">
	<div class="column is-offset-1"><div class="grandama round"></div></div>
    <div class="column"></div>
    <div class="column">
      <h2 class="title is-2">織布之家</h2>
    </div>
  </div>
  <div class="columns menu" id="menu">
    <ul class="columns column is-10 is-offset-1 has-text-centered">
      <li class="column" data-menuanchor="firstPage" ><a href="#firstPage">賽德克族介紹</a></li>
      <li class="column" data-menuanchor="secendPage"><a href="#secendPage">傳統服飾</a></li>
      <li class="column" data-menuanchor="3rdPage"><a href="#3rdPage">傳統織布</a></li>
      <li class="column" data-menuanchor="4rdPage"><a href="#4rdPage">介紹織布之家</a></li>
    </ul>
  </div>
</div>