
<div class="example-header">
  <div id="header-white-background" class="background"></div>
</div>
<div class="header-main">
  <div class="columns">
    <div class="column"><h1 class="title has-text-centered">賽德克族</h1></div>
  </div>
  <div class="columns">
	  <div class="column is-5 is-offset-1"><div class="grandama round"></div></div>
    <div class="column is-7">
      <h2 class="title has-text-centered">織布之家</h2>
    </div>
  </div>
  <div class="columns menu" id="menu">
    <ul class="columns column is-10 is-offset-1 has-text-centered">
      
    </ul>
  </div>
</div>


<div class="hero-foot">
  <nav class="tabs">
    <div class="container">
      <ul>
        <li class="column"><a href="#section1">賽德克族介紹</a></li>
        <li class="column"><a href="#section2">傳統服飾</a></li>
        <li class="column"><a href="#section6">傳統織布</a></li>
        <li class="column"><a href="#section7">中原部落</a></li>
        <li class="column"><a href="#section9">織布之家</a></li>
      </ul>
    </div>
  </nav>
</div>