<div class="container">
  <div class="tile is-ancestor">
    <div class="tile is-vertical is-8">
      <div class="tile">
        <div class="tile is-parent is-vertical">
          <article class="tile is-child notification is-primary">
            <p class="title">服務項目</p>
            <p class="subtitle">賽德克族DIY體驗營</p>
            <p class="subtitle">賽德克族織布製線</p>

          </article>
          <article class="tile is-child notification is-warning">
            <p class="title">體驗</p>
            <p class="subtitle">賽德克族獵徑陷阱體驗營</p>
            <p class="subtitle">賽德克族季節性體驗營</p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-info">
            <p class="title">中原部落史</p>
            <p class="subtitle">With an image</p>
          </article>
        </div>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-danger">
          <div class="columns">
            <div class="column is-7">
              <p class="title">部落特色</p>
              <div class="content">
                有山有水有人味，有笑有趣有原味
                <br>12-1月初賞梅、1-2月春耕遊、3-4月採梅樂
                <br>5-6月生態旅、7-8月蝦籠逗溪蝦、9-11秋收
                <br>狩獵走一回、貫穿經年是織布傳統文化
                <br>迎賓樂彩虹故鄉中原部落巴蘭社邀你同歡
              </div>
            </div>
            <div class="column is-5">
              圖
            </div>
          </div>

        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification is-success">
        <div class="content">
          <p class="title">苧麻製線</p>
          <p class="subtitle">記憶。技藝</p>
          <div class="content">
            苧麻製線線成面、先祖智慧舉手讚
            <br>渾然天成是環保，不是刻意是生活
            <br>一起體驗製線樂
          </div>
          <div class="content">
            <p class="title">織布DIY</p>
            <p class="subtitle">歷史。傳承</p>
            <div class="content">
              織布技巧巧傳承，平織斜紋織成面
              <br>浮織精巧更一絕，生活用品我也行
              <br>經緯縱橫任我行，藝術生活同我行
            </div>
          </div>
      </article>
      </div>
    </div>
  </div>
