<div class="columns is-mobile">
  <div class="column is-half has-text-centered is-offset-one-quarter">
    <h2 class="title is-2">地機&工具</h2>
    <h2 class="subtitle">智慧與藝術的結晶</h2>
  </div>
</div>

<div class="columns has-text-centered">
  <div class="column is-4 is-offset-1">
    <img src="http://birdyo.ga/res/tool.jpg" alt="">
  </div>
  <div class="column is-8">
    <div>
      <ul>
        <li>織布箱</li>
        <li>繫經棒</li>
        <li>開口綜光棒</li>
        <li>綜光線棒</li>
        <li>打緯棒</li>
        <li>挑花棒</li>
        <li>梭子</li>
        <li>固定軸</li>
        <li>背帶</li>
      </ul>
    </div>

  </div>
</div>
