<div class="container">
	<div class="columns">
		<div class="column">
			<div class="heading">
				<h1 class="title">苧麻製線</h1>
			</div>
			<p>對賽德克族而言苧麻製線到製衣是生活上的智慧，最早期月挑葉衣，後進化到苧麻衣，苧麻製線過程繁複、刮剝麻外捻捲紡紗，再歷經煮染鹽洗曬還要風吹日曬雨淋，十四天吸日月精華才有白色熟麻主線，主線再染煮薯榔紅，泥巴黑深埋雙七日，再現賽德克族色碼，然後開始整經理線，上地機架線再織布，織布織品才能誕生賽德克族最美的藝術生活或生活藝術</p>
			<p><a href="./makeline_step.html">查看更多</a></p>
		</div>
		<div class="column">
			<div class="heading">
				<h1 class="title">織布</h1>
			</div>
			<p>傳統賽德克織布文化除日常生活實用與裝飾機能，亦與兩性分工、宗教信仰、社會地位互為影響，整體織布文化即為祖靈信仰與社會秩序的實踐與表達，並藉以形成認同與區辨異己的文化功能。</p>
			<p>此外，織布工藝另一個特色，在於維繫群體集體經驗與歷史記憶，並藉生產過程與織造技藝，達到族群、部落與地域識別功能。而且當代傳統織布文化資產的經濟轉化，除為原住民經濟與文化產業注入新的可能性，也使女性可以再造新的社會角色與自我認同。</p>
			<p><a href="./weaving.html">查看更多</a></p>
		</div>
	</div>
</div>
