<div class="container">
  <div>
    <h1 class="title is-3">賽德克服飾演變</h1>
  </div>
  <hr/>
  <div class="columns">
    <div class="column is-1 stage">
    </div>
	<div class="column is-10 is-offset-1">
		<div class="columns">
			<div class="column is-3">
				<h1>階段一</h1>
			</div>
			<div class="column is-9">
				<p>日劇時代之前就是全部都是織布做成最傳統也是最能顯現發的因為此時期的織工法隨處可見經挑織的衣服</p>
			</div>
		</div>
		<div class="columns">
			<div class="column is-3">
				<h1>階段二</h1>
			</div>
			<div class="column is-9">
				<p>日據期間的女生衣服則有加花布裙子不變，但經挑織的織法銳減，男衣服也是不變</p>
			</div>
		</div>
		<div class="columns">
			<div class="column is-3">
				<h1>階段三</h1>
			</div>
			<div class="column is-9">
				<p>日據之後則大都以平織為主除了地機織法外還有高機及桌機，但經挑織只剩寥寥可數的人會織</p>
			</div>
		</div>
	</div>
  </div>
</div>
