<div class="container">
<div class="top">
  <h1 class="title">賽德克族介紹</h1>
</div>
<hr/>
<div class="columns">
  <div class="column is-1">
    <h1></h1>
  </div>
  <div class="column is-9">
    <p>
    原本的泰雅族分為兩大群，其中的一群即為賽德克亞群，不過被學者分類為同一種族群，但是賽德克從以前就知道自己是Sediq，還是與另一群阿泰雅爾群(Atayal)不同。至於在中央山脈東側的東賽德克人(大部分為太魯閣群)已向政府正名為太魯閣族，其他德克塔雅群(Tgdaya)和都達群(Toda)的賽德克人展現了族群的主體意識，積極向政府提出正名，終於在2008年4月，賽德克族正式成為台灣原住民第十四族。
    </p>
  </div>
  </div>
  <div class="columns">

  <div class="column is-1">
    <h1></h1>
  </div>
  <div class="column is-9">
    <p>賽德克族集中分布在南投縣仁愛鄉，以濁水溪上游一帶為腹地並建立七個村十二部落。據說四、五百年以前，賽德克族就已經在濁水溪及其支流建立許多群落；因為部落分散，交通不便，各社群社會封閉，所以形成各部落的文化習俗，並且發展獨特的語言</p>
  </div>  
</div>

