<div class="container">
  <hr/>
  <div class="columns">
    <div class="column is-7">
      <h1 class="title is-1">
        熊肯作織布的家
      </h1>
      <h2 class="subtitle">
        為了傳承織布的技法並將織品落實於生活，再將四技法相互交融達到生活處處是美學。
      </h2>
      <h3 class="title is-3">賽德克族巴蘭社族群</h3>
      <h3 class="title is-3">梅子的故鄉中原部落</h3>
      <h3 class="title is-3">原汁原味是織布的家</h3>
    </div>

    <div class="column is-5">
      圖
    </div>
  </div>
  <hr/>
  <div class="columns">
    <div class="column is-6">
      <div class="box">
        <h1 class="title is-3">
          使命
        </h1>
        <article class="media">
          <div class="media-left">
            圖
          </div>
          <div class="media-content">
            <p>以傳統文化織布的傳承為宗旨，除培訓織布種子並偕同小學童及弱勢學童一起探尋製線的奧妙外，並製作生活用品及家飾品或服飾，讓織布功能更廣而不受侷限</p>
          </div>
        </article>
      </div>
    </div>
    <div class="column is-6">
      <div class="box">
        <h1 class="title is-3">
          簡介
        </h1>
        <article class="media">
          <div class="media-left">
            圖
          </div>
          <div class="media-content">
            <p>以苧麻為線材原料，藉由製線過程中了解抽絲剝繭為線的過程與得來不易，而珍惜這些織品的誕生，製作織作裝飾品，髮夾、髮圈、化妝包、背包、筆袋、腰帶、桌巾等生活用品，並且提供客製化服務和免費提供弱勢學童學習機會及實質的救助弱勢族群</p>
          </div>
        </article>
      </div>
    </div>
  </div>

</div>
