<div class="container all-height">
  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
      衣服有衣服的織法，但現在都是以一張布製作衣服裹腳布，繞線是決定花紋的因素通常一般穿的衣服是以平織菱形紋斜紋山形紋為主但大都以平織菱紋斜紋居多，若要在講究一點就是挑織法更講究的話就是經挑織男女都一樣
    </div>
  </div>
  <hr/>
  <div class="columns select_button">
    <div class="column is-half has-text-centered is-offset-one-quarter">
      <button data-target="man_wear_block" class="button is-medium is-success is-active">傳統男服飾</button>
      <button data-target="woman_wear_block" class="button is-medium is-success is-outlined">傳統女服飾</button>
    </div>
  </div>
  <hr/>
  <div id="man_wear_block" class="columns">
    <div class="column is-3 is-offset-1">
      <figure>
        <img src="http://birdyo.ga/res/section2-man-wear.jpg" />
      </figure>
    </div>
    <div class="column is-7">
      <h1 class="title is-3">布的織法</h1>
      <p>男生衣服則有白衣服跟紅色的披風，男生衣服也是要知道袖子的尺寸一般而言袖子寬度線200左右長度70左右袖口會用或者在上臂處織浮邊顏色以紅為主黑為幫襯，男衣服也是一樣差不多寬度400~460條線、長度100~120之間，披風跟衣服差不多的做法只是是紅色的</p>
    </div>
  </div>
  <div id="woman_wear_block" class="columns hidden">
    <div class="column is-3 is-offset-1">
      <figure>
        <img src="http://birdyo.ga/res/section2-woman-wear.jpg" />
      </figure>
    </div>
    <div class="column is-7">
      <h1 class="title is-3">布的織法</h1>
      <p>女生服為一張布織到底，但必須知道穿者的尺寸一般而言繞線大概在400~460之間的寬度、長度200公分左右才可以製作一件女生服，過去衣服跟裹腳布織法不同裹腳布有裹腳</p>
    </div>
  </div>
</div>
