<div class="height">
  <div class="title_block has-text-centered">
    <h1 class="title is-1">
      中原部落
    </h1>
    <h2 class="subtitle">
      現代與傳統文化的交織
    </h2>
  </div>
  <div class="img_block">
    <img class="silder" src="http://birdyo.ga/res/silder/DSC03589-1.jpg">
    <img class="silder" src="http://birdyo.ga/res/silder/IMG_6709.jpg">
    <img class="silder" src="http://birdyo.ga/res/silder/IMG_6712.jpg">
    <img class="silder" src="http://birdyo.ga/res/silder/IMG_6716.jpg">
  </div>
  <div class="mask black"></div>
</div>
