<div class="container">
	<div class="columns">
		<div class="column">
			<div class="heading">
				<h1 class="title">苧麻製線</h1>
			</div>
			<p>因為苧麻生長成熟不一，我們會依其成熟度收成，進行割麻刮麻剝麻，然後洗麻曬麻，等到收集差不多量的苧麻時進行煮麻染色，此次是用木灰煮來洗白，也就是染白的意思。 原色是部落居民用來編織背袋的重要原料，我們直接用原色未經染色的線來捻線，當然染白的線我們也會捻線。 最後再來紡線，做為成品 捻線對進用人員來說是最難的，經過很多時間的努力終於在6月底，在大家合力下完成，得以有線可以紡而成線</p>
		</div>
		<div class="column">
			<div class="heading">
				<h1 class="title">織布</h1>
			</div>
			<p>傳統賽德克織布文化除日常生活實用與裝飾機能，亦與兩性分工、宗教信仰、社會地位互為影響，整體織布文化即為祖靈信仰與社會秩序的實踐與表達，並藉以形成認同與區辨異己的文化功能。</p>
			<p>此外，織布工藝另一個特色，在於維繫群體集體經驗與歷史記憶，並藉生產過程與織造技藝，達到族群、部落與地域識別功能。而且當代傳統織布文化資產的經濟轉化，除為原住民經濟與文化產業注入新的可能性，也使女性可以再造新的社會角色與自我認同。</p>
		</div>
	</div>
</div>