<div class="container">
  <div class="columns is-mobile">
    <div class="column is-half has-text-centered is-offset-one-quarter">
      <h2 class="title is-2">山形紋</h2>
    </div>
  </div>
  <div class="columns">
    <div class="column is 3">
      圖
    </div>
    <div class="column is 6">
      <h1 class="title is 2">1.繞線</h1>
    </div>
    <div class="column is 3">
      圖
    </div>
  </div>

  <div class="columns">
    <div class="column is 3">
      圖
    </div>
    <div class="column is 6">
      <h1 class="title is 2">2.打緯線</h1>
    </div>
    <div class="column is 3">
      圖
    </div>
  </div>


</div>
