<div class="container has-text-centered">
  <div class="columns is-mobile">
    <div class="column is-half has-text-centered is-offset-one-quarter">
      <h2 class="title is-2">山形紋</h2>
    </div>
  </div>
  <div class="columns">
    <div class="column is-5">
      <figure class="image">
        <img src="http://birdyo.ga/res/weaving/地機-繞線_4343.jpg">
      </figure>
    </div>
    <div class="column is-2">
      <h1 class="title is-2">1.繞線</h1>
    </div>
    <div class="column is-5">
      <figure class="image">
        <img src="http://birdyo.ga/res/weaving/地機-繞線_7698.jpg">
      </figure>
    </div>
  </div>

  <div class="columns">
    <div class="column is-5">
      <figure class="image">
        <img src="http://birdyo.ga/res/weaving/地機-打緯線_1267.jpg">
      </figure>
    </div>
    <div class="column is-2">
      <h1 class="title is-3">2.打緯線</h1>
    </div>
    <div class="column is-5">
      <figure class="image">
        <img src="http://birdyo.ga/res/weaving/地機-打緯線_1471_0.jpg">
      </figure>
    </div>
  </div>


</div>
