<div class="container has-text-centered">
  <div class="columns">
    <div class="column is-5">
      <figure class="image">
        <img src="http://birdyo.ga/res/weaving/地機-上工具_9323 (1).jpg">
      </figure>
    </div>
    <div class="column is-2">
      <h1 class="title is-3">3.上工具</h1>
    </div>
    <div class="column is-5">
      <figure class="image">
        <img src="http://birdyo.ga/res/weaving/地機-上工具_9323 (2).jpg">
      </figure>
    </div>
  </div>

  <div class="columns">
    <div class="column is-5">
      <figure class="image">
        <img src="http://birdyo.ga/res/weaving/地機-經挑織_1379.jpg">
      </figure>
    </div>
    <div class="column is-2">
      <h1 class="title is-2">4.上機</h1>
    </div>
    <div class="column is-5">
      <figure class="image">
        <img src="http://birdyo.ga/res/weaving/地機-整線_7211.jpg">
      </figure>
    </div>
  </div>

</div>
